
h1 {
  margin-top: 2%;
  font-family:"BPG_NINO"
}
.section {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}
.Description {
  width: 100%;
}
.CountrySpecification {
  width: 35%;
  margin-left: 40px;
}
article {
  margin: 0 auto;
  width: 60%;
  min-height: 550px;
}
.mainImg {
  margin: 10px 14% 0 0;
 
}

.mapImg {
  width: 60%;
  padding: 10px;
}